@model LogicaDeNegocio.Models.Turno

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Seguro que querés eliminar este turno?</h3>
<div>
    <h4>Turno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoTurno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoTurno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mascota)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mascota.Especie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
